.kelolaPenghuni{
  min-height: 100vh ;
  .dataTable {
    max-width: 80vw;
    max-height: 80vh; // batas tinggi agar tidak overflow
    overflow: auto; // scroll jika melebihi batas
  }
  .info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    button{
      padding: 5px;
      cursor: pointer;
    }
  }
}